* {
    box-sizing: border-box;
}

body {
    background: #E7EBF0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;
}

.formBox {
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 15px;
}

// Фильтрация
.filterBox {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.filterBox__btn {
    width: 100px;
}

.taskBox {
    margin-top: 25px;
    padding: 15px;
    position: relative;
}

.taskBox__title {
    font-size: 20px;
    text-align: left;
    font-weight: 700;
    margin-bottom: 25px;
    display: block;
}

.taskBox__del {
    position: absolute !important;
    top: 0px;
    right: 0px;
    & span {
        margin: 0;
    }
}

.task {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 15px;
}

.task_completed span {
    text-decoration: line-through;
}

.righted {
    margin-left: auto !important;
}