.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 300px;
}

.field {
    margin-top: 12px !important;
    width: 100%;
}

.button {
    margin-top: 12px !important;
}

.alert {
    margin-top: 10px !important;
    width: 100%;
}